*/.idea/*
 *.idea/*
 default*
 Mnist/raw/*
 Mnist/processed/*
 data/*
 Mnist/OLD/.idea/vcs.xml
 */data/*
 **.pyc
 **.ipynb_checkpoints**
 *.pt
 *.pt
 *.pt
 ..gitignore.swp
 Cifar10/*
*.xml
Cifar10/lib/.DS_Store
*.iml
*.pt
*.gz
Mnist/raw/train-labels-idx1-ubyte
Mnist/raw/train-images-idx3-ubyte
Mnist/raw/t10k-labels-idx1-ubyte
Mnist/raw/t10k-images-idx3-ubyte
Mnist/OLD/lib/__pycache__/utils.cpython-37.pyc
Mnist/OLD/lib/__pycache__/teacher_utils.cpython-37.pyc
Mnist/OLD/lib/__pycache__/teacher_utils.cpython-36.pyc
Mnist/OLD/lib/__pycache__/teacher_model.cpython-37.pyc
Mnist/OLD/lib/__pycache__/teacher_model.cpython-36.pyc
Mnist/OLD/lib/__pycache__/dist_utils.cpython-37.pyc
Mnist/OLD/lib/__pycache__/dist_model.cpython-37.pyc
Mnist/OLD/lib/__pycache__/__init__.cpython-37.pyc
Mnist/OLD/lib/.ipynb_checkpoints/teacher_utils-checkpoint.py
Mnist/data/MNIST/raw/train-labels-idx1-ubyte
Mnist/data/MNIST/raw/train-images-idx3-ubyte
Mnist/data/MNIST/raw/t10k-labels-idx1-ubyte
Mnist/data/MNIST/raw/t10k-images-idx3-ubyte
Mnist/.ipynb_checkpoints/teacher_train-checkpoint.py
default/version_1/tf/events.out.tfevents.1569445871.DESKTOP-PG5QSJ5.15320.0
default/version_1/metrics.csv
default/version_1/meta_tags.csv
default/version_1/meta.experiment
default/version_0/tf/events.out.tfevents.1569444872.DESKTOP-PG5QSJ5.14728.0
default/version_0/metrics.csv
default/version_0/meta_tags.csv
default/version_0/meta.experiment
**/teacher_trainer/**
**/checkpoint/**
**/tb_logs/**
/Mnist/OLD/runs/
/Cifar10/data/cifar-10-batches-py/
/Cifar10/eficcientnet/runs/Oct03_13-17-28_pcjpteacher_trainer/
/Cifar10/ResNet101/old/student-test1/ResNet18/student_trainer/
/Cifar10/runs/
